@model DAL.Models.Franchise

@{
    ViewBag.Title = "Supprimer une franchise";
}

<h2>Supprimer la franchise @Model.Nom</h2>

<h3>Etes vous sûre de vouloir supprimer cette franchise ?</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Supprimer" />@Html.ActionLink("Retour à la la liste des franchises", "Index")
    </p>
}
