@model DAL.Models.Franchise

@{
    ViewBag.Title = "Editer la franchise";
}

<h2>Editer la franchise</h2>
<br />

<form name="input" action="/Franchise/Edit" method="post" class="form-horizontal" role="form">
    <input type="hidden" name="franchiseId" value="@Model.ID" >

    <div class="form-group">
        <label class="col-sm-2 control-label">Nom</label>
        <div class="col-sm-5">
            <input type="text" value="@Model.Nom" required maxlength="99" name="franchiseName" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <input type="submit" value="Enregistrer" class="btn btn-default" />
        </div>
    </div>
</form>

<a href="~/Franchise">Retour à la liste des franchises</a>


