@model IEnumerable<DAL.Models.Franchise>

@{
    ViewBag.Title = "Liste des franchises";
}

<h2>Liste des franchises</h2>

@if (Request.IsAuthenticated) {
<p>
    @Html.ActionLink("Créer une nouvelle franchise", "Create")
</p>
}
<table class="table table-striped">
    <tr>
        <th>
            Nom
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Nom
        </td>
        @if (Request.IsAuthenticated) {
        <td>
            <a href="~/Franchise/Edit/@item.ID" style="box-shadow: none; background-color: transparent;" title="Editer"><img src="../../Images/edit/edit-26.png" alt="Editer" width="20" height="20"></a>
            <a href="~/Franchise/Delete/@item.ID" style="box-shadow: none; background-color: transparent;" title="Supprimer"><img src="../../Images/delete/delete-26.png" alt="Supprimer" width="20" height="20"></a>
            @*@Html.ActionLink("Editer", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.ID })*@
        </td>
        }
    </tr>
}

</table>
