@model IEnumerable<DAL.Models.Franchise>

@{
    ViewBag.Title = "Liste des franchises";
}

<h2>Liste des franchises</h2>

@if (Request.IsAuthenticated) {
<p>
    @Html.ActionLink("Créer une nouvelle franchise", "Create")
</p>
}
<table>
    <tr>
        <th>
            Nom
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Nom
        </td>
        @if (Request.IsAuthenticated) {
        <td>
            @Html.ActionLink("Editer", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.ID })
        </td>
        }
    </tr>
}

</table>
