@model DAL.Models.Marque

@{
    ViewBag.Title = "Créer une nouvelle marque";
}

<h2>Créer une nouvelle marque</h2>
<br />

<form name="input" action="/Marque/Create" method="post" class="form-horizontal" role="form">

    <div class="form-group">
        <label class="col-sm-2 control-label">Nom</label>
        <div class="col-sm-5">
            <input type="text" required maxlength="99" name="marqueName" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <input type="submit" value="Enregistrer" class="btn btn-default" />
        </div>
    </div>
</form>

<a href="~/Marque">Retour à la liste des marques</a>

