@model DAL.Models.Marque

@{
    ViewBag.Title = "Supprimer une marque";
}

<h2>Supprimer la marque @Model.Nom</h2>

<h3>Etes vous sûre de vouloir supprimer cette marque ?</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Supprimer" /> |
        @Html.ActionLink("Retour à la liste des marques", "Index")
    </p>
}
