@model DAL.Models.Marque

@{
    ViewBag.Title = "Carnet d'entretien";
}

<h2>Carnet d'entretien de la marque @Model.Nom</h2>
<br />

@if (Model.Revision.Count > 0)
{
    <table class="table table-striped">
        <tr>
            <th>Libellé
            </th>
            <th>Kilométrage
            </th>
            <th>Durée d'intervention
            </th>
            @if (Request.IsAuthenticated)
            {
                <th></th>
            }
        </tr>

        @foreach (var item in Model.Revision)
        {
            <tr>
                <td>
                    @item.Libelle
                </td>
                <td>
                    @item.Kilometrage
                </td>
                <td>
                    @item.DureeIntervention
                </td>
                @if (Request.IsAuthenticated)
                {
                    <td>
                        <a href="~/Revision/Edit/@item.ID">Editer</a> |
            <a href="~/Revision/Delete/@item.ID">Supprimer</a>
                    </td>
                }
            </tr>
        }

    </table>
}
else
{
    <h3>Aucune révision enregistrée pour cette marque</h3>
}
<a href="~/Marque">Retour à la liste des marques</a>

