@model IEnumerable<DAL.Models.Marque>

@{
    ViewBag.Title = "Liste des marques";
}

<h2>Liste des marques</h2>
@if (Request.IsAuthenticated) {
<p>
    @Html.ActionLink("Créer une nouvelle marque", "Create")
</p>
}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        @if (Request.IsAuthenticated) {
        <th></th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        
        <td>
            @if (Request.IsAuthenticated) {
            <a href="~/Marque/Edit/@item.ID">Editer |</a>
            }
            <a href="~/Marque/Details/@item.ID">Carnet</a>
            @if (Request.IsAuthenticated) {
            <a href="~/Marque/Delete/@item.ID">| Supprimer</a>
            }
        </td>
        
    </tr>
}

</table>
