@model IEnumerable<DAL.Models.Marque>

@{
    ViewBag.Title = "Liste des marques";
}

<h2>Liste des marques</h2>
@if (Request.IsAuthenticated) {
<p>
    @Html.ActionLink("Créer une nouvelle marque", "Create")
</p>
}
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        @if (Request.IsAuthenticated) {
        <th></th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        
        <td>
            @if (Request.IsAuthenticated) {
                <a href="~/Marque/Edit/@item.ID" style="box-shadow: none; background-color: transparent;" title="Editer"><img src="../../Images/edit/edit-26.png" alt="Editer" width="20" height="20"></a>
            @*<a href="~/Marque/Edit/@item.ID">Editer |</a>*@
            }
            <a href="~/Marque/Details/@item.ID" style="box-shadow: none; background-color: transparent;" title="Carnet"><img src="../../Images/carnet/overview_pages_2-26.png" alt="Carnet" width="20" height="20"></a>
           
            @*<a href="~/Marque/Details/@item.ID">Carnet</a>*@
            @if (Request.IsAuthenticated) {
                 <a href="~/Marque/Delete/@item.ID" style="box-shadow: none; background-color: transparent;" title="Supprimer"><img src="../../Images/delete/delete-26.png" alt="Supprimer" width="20" height="20"></a>
            
            @*<a href="~/Marque/Delete/@item.ID">| Supprimer</a>*@
            }
        </td>
        
    </tr>
}

</table>
