@{
    ViewBag.Title = "Test";
}
<h2>Simulation :</h2>

<div id="Download" style="display:none">
    @Html.ActionLink("Télécharger le rapport", "GetFile")
</div>
<div style="float:right">
    <div id="Clock"></div>
    <input type="button" id="btnPause" value="Pause" />
    <hr />
    <h3>Statistiques</h3>

    <p style="display:inline">Occupation des garages :</p>
    <div id="statOccupation" style="display:inline-block"></div>
    <canvas style="display:block" id="myChart" width="150" height="150"></canvas>
    
    <p style="display:inline">Nombre de réparations effectuées :</p>
    <div id="statReparation" style="display:inline-block"></div>
    <canvas style="display:block" id="myChart2" width="300" height="300"></canvas>
    
    
</div>

<div id="Content"></div>
<div id="dialog" title="Réparations effectuées">
  <canvas id="myChart3" width="700" height="700"></canvas>
</div>
<script src="~/Scripts/Chart.js"></script>
<script type="text/javascript">

    var intervalID;
    var fini = false;

    var ctx = document.getElementById("myChart").getContext("2d");
    var ctx2 = document.getElementById("myChart2").getContext("2d");
    var ctx3 = document.getElementById("myChart3").getContext("2d");

    var options = { animateRotate: false };
    var options2 = { animation: false };
    var Chartdata = [
                {
                    value: 0,
                    color: "#F7464A"
                },
                {
                    value: 0,
                    color: "#F785F7"
                },
                {
                    value: 100,
                    color: "white"
                }];

    var Chartdata2 = {
        labels: [],
        datasets: [
            {
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                data: []
            }
        ]
    };

    var chartConstruct = new Chart(ctx);
    var charConstruct2 = new Chart(ctx2);
    var charConstruct3 = new Chart(ctx3);

    $(document).ready(
        $(function() {
            intervalID = setInterval("getData()", 500);
        })
 );

    function getData() {
        $.getJSON(
        "/Simulation/GetLogs/", {},
            function createTable(data) {
                $('#Content').empty();
                $('#Clock').empty();
                $('#statOccupation').empty();
                $('#statReparation').empty();

                var table = $('<table></table>');

                for (i = 0; i < data.logs.length; i++) {
                    var row = $('<tr></tr>');
                    setBackgroundColor(row, data.types[i]);
                    var cell = $('<td></td>').text(data.logs[i]);
                    row.append(cell);
                    table.append(row);
                }

                var time = $('<p></p>').text(data.date);
                var stOccupation = $('<p></p>').text( (data.tauxOccupation[0] + data.tauxOccupation[1]) + " / " + data.tauxOccupation[2] + " H");
                var stReparations = $('<p></p>').text(""+data.nbReparations);

                if (data.simulationTerminee != null) {
                    fini = data.simulationTerminee;
                }

                $('#Content').append(table);
                $('#Clock').append(time);
                $('#statOccupation').append(stOccupation);
                $('#statReparation').append(stReparations);

                Chartdata[0].value = ((data.tauxOccupation[0] / data.tauxOccupation[2]) * 100);
                Chartdata[1].value = ((data.tauxOccupation[1] / data.tauxOccupation[2]) * 100);
                Chartdata[2].value = (100 - (((data.tauxOccupation[0] + data.tauxOccupation[1]) / data.tauxOccupation[2]) * 100));
                chartConstruct.Doughnut(Chartdata, options);

                Chartdata2.labels = data.chartDate;
                
                Chartdata2.datasets = [
                {
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    data: data.chartRep
                }];
                charConstruct2.Line(Chartdata2, options2);


                if (fini) {
                    clearInterval(intervalID);
                    $("#btnPause").css("display", "none");
                    $("#Download").css("display", "inline");

                }

            });
    }

    $("#btnPause").click(function () {
        var etat = $("#btnPause").attr("value");
        $.post("/Simulation/Pause/", { 'etat': etat }, function (data) { if (etat == "Pause") { $("#btnPause").prop('value', 'Unpause') } else { $("#btnPause").prop('value', 'Pause') } }, 'json');
    });

    function setBackgroundColor(row, type) {

        var color = "white";

        switch (type) {
            case (1): //Debut simulation
                color = "#edd578";
                break;
            case (2): //Fin simulation
                color = "#edd578";
                break;
            case (3): //Voiture roule
                color = "#99ed78";
                break;
            case (4): //Voiture immobilisee
                color = "#f7858d";
                break;
            case (5): //Reparation voiture
                color = "#85f1f7";
                break;
            case (6): //Garagiste en vacances
                color = "#f785f7";
                break;
            case (7): //Garagiste plein
                color = "#f785f7";
                break;
            case (8): //Creations
                color = "white";
                break;
            case (9): //Autres
                color = "white";
                break;
            default:
                color = "white";
        }

        $(row).css("background-color", color);
    }

    $("#myChart2").click(
    function () {
        charConstruct3.Line(Chartdata2, options2);
        $("#dialog").dialog();
    });

</script>

<style type="text/css">
#Clock p {
    font-size : large;
    font : bold;
}
</style>