@model Simulation_garagistes.ViewModels.vmGaragiste

@{
    ViewBag.Title = "Créer un nouveau garagiste";
}
<script>
    $.datepicker.setDefaults($.datepicker.regional['fr']);
    $(function () {
        $("#datepicker1 , #datepicker2").datepicker({
            beforeShow: customRange,
            dateFormat: "dd/mm/yy"
        });
    });
    function customRange(input) {
        if (input.id === "datepicker1") {
            if ($("#datepicker2").datepicker("getDate") != null) {
                dateMax = $("#datepicker2").datepicker("getDate");
                return { maxDate: dateMax };
            }
        }
        if (input.id === "datepicker2") {
            if ($("#datepicker1").datepicker("getDate") != null) {
                dateMin = $("#datepicker1").datepicker("getDate");
                return { minDate: dateMin };
            }
        }
    }
</script>

<h2>Créer un nouveau garagiste</h2>
<br />
<form name="input" action="/Garagiste/Create" method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">Nom</label>
        <div class="col-sm-5">
            <input type="text" name="garagisteName" maxlength="99" class="form-control" required>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Franchise</label>
        <div class="col-sm-5">
            <select name="franchiseId" class="form-control">
                @foreach (var item in Model.Franchises)
                {
                    <option value="@item.ID">@item.Nom</option>
                }
            </select>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">Période de fermeture</label>
        <div class="col-lg-9" style="margin-left: -15px;margin-top:13px;">

            <div class="col-lg-1" style="margin-top: 7px; padding-right: 0; width:6%">De :</div>
            <div class="col-lg-3">
                <input type="text" id="datepicker1" name="fermetureBegin" class="form-control" readonly="readonly">
            </div>
            <div class="col-lg-1" style="margin-top: 7px; padding-left: 0; padding-right: 0; width:3%">À :</div>
            <div class="col-lg-3">
                <input type="text" id="datepicker2" name="fermetureEnd" class="form-control" readonly="readonly" >
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <input type="submit" value="Enregistrer" class="btn btn-default">
        </div>
    </div>
</form>

<a href="~/Garagiste">Retour à la liste des garagistes</a>

