@model DAL.Models.Garagiste

@{
    ViewBag.Title = "Supprimer le garagiste";
}

<h2>Supprimer le garagiste @Model.Nom</h2>

<h3>Etes vous sûre de vouloir supprimer ce garagiste?</h3>
@*<fieldset>
    <legend>Garagiste</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nom)
    </div>
</fieldset>*@
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Supprimer" /> |
        <a href="~/Garagiste">Retour à la liste des garagistes</a>@*@Html.ActionLink("Back to List", "Index")*@
    </p>
}
