@model IEnumerable<DAL.Models.Garagiste>

@{
    ViewBag.Title = "Liste des garagistes";
}

<h2>Liste des garagistes</h2>

@if (Request.IsAuthenticated) {
    <a href="~/Garagiste/Create">Créer un nouveau garagiste</a>
    <a href="~/Franchise">Ajouter une franchise</a>
    }

<table class="table table-striped">
    <tr>
        <th>
            Nom
        </th>
        <th>
            Franchise
        </th>
        <th>
            Périodes de fermeture
        </th>
        @if (Request.IsAuthenticated) {
        <th></th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Nom
        </td>
        <td>
            @item.Franchise.Nom
        </td>
        <td>
            @if(item.PeriodeFermeture.Count==0){
                <p>Aucune période enregistrée</p>
            }
            else{
                foreach (var periode in item.PeriodeFermeture)
                {
                    <p>@periode.DateDebut.Day/@periode.DateDebut.Month/@periode.DateDebut.Year au @periode.DateFin.Day/@periode.DateFin.Month/@periode.DateFin.Year</p>
                }
            }
        </td>
        @if (Request.IsAuthenticated) {
        <td>
            <a href="~/Garagiste/Edit/@item.ID" style="box-shadow: none; background-color: transparent;" title="Editer"><img src="../../Images/edit/edit-26.png" alt="Editer" width="20" height="20"></a>
            <a href="~/Garagiste/Delete/@item.ID" style="box-shadow: none; background-color: transparent;" title="Supprimer"><img src="../../Images/delete/delete-26.png" alt="Supprimer" width="20" height="20"></a>
            @*<a href="~/Garagiste/Edit/@item.ID">Editer</a> |
            <a href="~/Garagiste/Delete/@item.ID">Supprimer</a>*@
        </td>
        }
    </tr>
}

</table>

