@model IEnumerable<DAL.Models.Modele>

@{
    ViewBag.Title = "Liste des modèles";
}

<h2>Liste des modèles</h2>

<p>
    @if (Request.IsAuthenticated) {
    <a href="~/Modele/Create">Ajouter un modèle</a>
    <a href="~/Marque">Ajouter une marque</a>
    }
</p>
<table>
    <tr>
        <th>
           Modèle
        </th>
        <th>
           Marque
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Nom
        </td>
        <td>
            @item.Marque.Nom
        </td>
        <td>            
            @if (Request.IsAuthenticated) {
            <a href="~/Modele/Edit/@item.ID">Editer |</a>
            }
            <a href="~/Modele/Details/@item.ID">Carnet</a>
            @if (Request.IsAuthenticated) {
            <a href="~/Modele/Delete/@item.ID">| Supprimer</a>
            }           
        </td>
    </tr>
}

</table>
